absl-py==0.9.0
anyio==2.0.2
astor==0.8.1
async-generator==1.10
attrs==19.3.0
Babel==2.9.0
backcall==0.1.0
bcrypt==3.2.0
bisect-b2g==1
bleach==3.1.4
cachetools==4.0.0
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
click==7.1.1
contextvars==2.4
cryptography==3.2.1
cx-Oracle==7.3.0
cycler==0.10.0
Cython==0.29.16
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.7.1
entrypoints==0.3
et-xmlfile==1.0.1
fire==0.3.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.1
future==0.18.2
gast==0.2.2
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
imantics==0.1.12
imgaug==0.4.0
immutables==0.14
importlib-metadata==1.6.0
imutils==0.5.3
iniconfig==1.1.1
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
JayDeBeApi==1.1.1
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
JPype1==0.7.4
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server==1.2.2
jupyterlab==3.0.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.6.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
more-itertools==8.2.0
msgpack==1.0.0
msgpack-numpy==0.4.5
mysqlclient==1.4.6
nbclassic==0.2.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.6
nest-asyncio==1.4.3
networkx==2.4
notebook==6.0.3
numpy==1.18.2
oauthlib==3.1.0
opencv-python==4.2.0.34
openpyxl==3.0.4
opt-einsum==3.2.0
packaging==20.7
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyforest==1.0.3
pygifsicle==1.0.2
Pygments==2.6.1
PyMySQL==0.9.3
PyNaCl==1.4.0
pyparsing==3.0.0a1
pyperclip==1.8.1
pyrsistent==0.16.0
pytesseract==0.3.4
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
python-engineio==3.13.2
python-socketio==4.6.0
pytz==2019.3
PyWavelets==1.1.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
redis==3.5.3
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
schedule==0.6.0
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.4.1
scp==0.13.3
Send2Trash==1.5.0
Shapely==1.7.1
six==1.14.0
sklearn==0.0
slidingwindow==0.0.13
sniffio==1.2.0
sparklines==0.4.2
SQLAlchemy==1.3.16
tabulate==0.8.7
tensorboard==2.1.1
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
tensorpack==0.10
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-slim==1.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.45.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.8
voila==0.2.6
voila-gridstack==0.1.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
xmljson==0.2.1
zipp==3.1.0
